.feed-single{
    display: flex;
    padding: 1rem 2rem;
    max-width: 50rem;
    width:50rem;
   text-align: left;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    border-radius: 2rem;
    align-items: center;
    justify-content: flex-start;
    gap: 2rem;
    margin: 1rem 0;
    cursor: pointer;
    transition: all 1s ease-in;
}
.feed-single:hover{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
 
.tags{
    display: flex;
    gap: .5rem;
    align-items: center;
}
.author-img{
    border-radius: 30rem;
}
.tag{
    background-color:#f2f2f2;
    color: rgb(66, 63, 63);
    font-weight: 600;
    padding: .4rem;
    min-width: 3rem;
    cursor: pointer;
    text-align: center;
    transition: all 1s linear;
}
.tag:hover{
    background-color: #ccc;
}
.blog-author{
    display: flex;
    align-items: center;
    gap: .5rem;
    padding: .4rem 0;
}
.blog-details{
    display: flex;
    flex-direction: column;
    gap: .7rem;
}
.blog-details h5{
    font-size: 1.9rem;

}
.blog-details p{
    font-size: 1.2rem;
}
.icons-flex{
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: .5rem 0;
}



@media (max-width:1220px){
   .feed-single{
   
    padding: 1rem 2rem;
    max-width: 50rem;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin: 1.5rem 0;
    transition: all 1s ease-in;
   }
}

@media (max-width:890px){
   .feed-single{
    padding: 1rem;

   }
}
@media (max-width:870px){
    .feed-single{
    max-width: 45rem;
    gap: 2rem;
 
    }
 }
 
 @media (max-width:800px) {
    .feed-single{
        min-width: 65rem;
    }
    .tagbox{
        
        min-width: 60rem;
    }
   
 }

 @media (max-width:700px) {
    .feed-single{
        min-width: 55rem;
    }
    .tagbox{
        min-width: 55rem;
    } 
 }

 @media (max-width:600px) {
    .feed-single{
        min-width: 45rem;
    }
    .tagbox{
        min-width: 43rem;
    } 
 }

 @media (max-width:500px) {
    .feed-single{
        max-width: 40rem;
        min-width: 0;
        padding: .8rem;
        display: flex;
        flex-direction: column;
    }
    
    .tagbox{
        min-width: 35rem;
    } 
    .blog-feed-img{
width: 27rem;
height: 15rem;
    }
 }

 @media (max-width:500px) {
    .tagbox{
        min-width: 30rem;
    }
 }

 @media (max-width:450px) {
    .feed-single{
         width:100%;
         border: 1px solid goldenrod;
       
    }
 }