.input-head{
    font-size: 3rem;
    font-weight: 600;
    width: 100%;
    padding: 1rem;
}
.notepad{
    height: 30rem;
     
}
.btn-upload{
    display: flex;
    align-items: center;
    gap: .5rem;
    margin-top: 6rem;
}