.update-screen{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: aliceblue;
    border-radius: 2rem;
    max-width: 60%;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    margin: 3rem 0;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.update-input{
    padding: 1rem;
    border: 1px solid grey;
    outline: none;
    border-radius: 2rem;
    width: 30rem;
    margin-top: 1rem;

}
.update-pp{
    border-radius: 44rem;
    border: .6rem solid rgb(219, 218, 215);
}
.update-pp:hover{
    opacity: .6;
    cursor: pointer;
}
 
.up-pp-div{
    position: relative;
    flex-direction: column;
    display: flex;
}
.file{
    position: absolute;
    width: 100%;
    height: 80%;
     margin-bottom: .5rem;
    opacity: 0;
    cursor:pointer;
}
.up-title{
    font-size: 1.7rem;
    font-weight: 600;
}
.btn-pp{
    margin-top: .4rem;
}

@media (max-width:600px) {
    .update-input{
        padding: 1rem;
        border: 1px solid grey;
        outline: none;
        border-radius: 2rem;
        width: 24rem;
        margin-top: 1rem;
    
    }
}

@media (max-width:500px) {
    .update-input{
        padding: 1rem;
        border: 1px solid grey;
        outline: none;
        border-radius: 2rem;
        width: 20rem;
        margin-top: 1rem;
    
    }
}