.container{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    height: 100%;
    align-items: center;
    justify-content: center;
    background-image: url('https://img.freepik.com/free-vector/minimal-wave-background-vector-white-abstract-style_53876-126685.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.btns{
    display: flex;
    gap: 1.3rem;
}
.landDetail{
gap: 2rem;
max-width: 50rem;
display: flex;
text-align: center;
flex-direction: column;
}
.h2{
font-size: 4.5rem;
font-weight: 700;
line-height: 1.03;
margin-bottom: 3rem;
color: var(--dark);
}
.p{
    font-size: 1.6rem;

}